
.nav_icon{
    width: 50px;
    margin-top: 1%;
}


.list_nav{
    display: flex;
    align-items: center;
    gap: 5%;
}
.css-1uragx{
    background-color: #372e4980 !important ;
}

nav{
    background-color: #372e4980 !important ;
    height: 80px;
    justify-content: center;
}
.navbar-mobile{
    height:100%;
}